<a href="https://colab.research.google.com/github/TEJASWININAGANDLA/cod/blob/main/Tuples.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

1. Tuple Creation:
   Create a tuple named 'my_tuple' containing elements (1, 2, 3, 4, 5).

   Output:
   (1, 2, 3, 4, 5)

In [2]:
my_tuple=(1,2,3,4,5)
print(my_tuple)

(1, 2, 3, 4, 5)

In [ ]:
2. Tuple Access:
   Access the third element of the tuple 'my_tuple' and print it.

   Output:
   3

In [3]:
my_tuple[2]

3

In [ ]:
3. Tuple Slicing:
   Print the elements from index 1 to index 3 (inclusive) of the tuple 'my_tuple'.

   Output:
   (2, 3, 4)

In [5]:
my_tuple[1:4]

(2, 3, 4)

In [ ]:
4. Tuple Concatenation:
   Create another tuple named 'another_tuple' containing elements (6, 7, 8) and concatenate it with 'my_tuple'.

   Output:
   (1, 2, 3, 4, 5, 6, 7, 8)

In [7]:
another_tuple=(6,7,8)
print(my_tuple + another_tuple)

(1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
5. Tuple Repetition:
   Repeat the tuple 'my_tuple' three times and print the result.

   Output:
   (1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [8]:
print(my_tuple*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [ ]:
6. Tuple Unpacking:
   Unpack the tuple ('apple', 'banana', 'cherry') into three variables: fruit1, fruit2, and fruit3. Print these variables.

   Output:
   fruit1 = 'apple'
   fruit2 = 'banana'
   fruit3 = 'cherry'

In [11]:
fruits = ("apple", "banana", "cherry")
(fruit1, fruit2, fruit3) = fruits

print("fruit1 = ",fruit1)
print("fruit2 = ",fruit2)
print("fruit3 = ",fruit3)

fruit1 =  apple
fruit2 =  banana
fruit3 =  cherry

In [ ]:
7. Tuple Membership:
   Check if the element 3 is present in the tuple 'my_tuple' and print True or False accordingly.

   Output:
   True

In [15]:
print(3 in my_tuple)

True

In [ ]:
8. Tuple Length:
   Print the length of the tuple 'my_tuple'.

   Output:
   5

In [16]:
print(len(my_tuple))

5

In [ ]:

9. Tuple Min and Max:
   Find the minimum and maximum elements in the tuple 'my_tuple' and print them.

   Output:
   Minimum: 1
   Maximum: 5

In [22]:
print("minimum =",min(my_tuple))
print("maximum =",max(my_tuple))

minimum = 1
maximum = 5

In [ ]:
10. Tuple Conversion:
    Convert the tuple 'my_tuple' to a list and print the result.

    Output:
    [1, 2, 3, 4, 5]

In [29]:
my_tuple= (1,2,3,4,5)

In [31]:
list(my_tuple)

[1, 2, 3, 4, 5]